/* Bento  CSS */

.menu {

    width: 50px;
    height: 50px;
    top: -3vh;
    left: 92vw;

    position: absolute;
    cursor: pointer;
    z-index: 1;

}

.menu:hover .bentomenu {
    opacity: 0;
}

.menu:hover .bentohover {
    opacity: 1;
}

.framebento {

    width: 50px;
    height: 50px;
    top: 0;
    left: 0;

    position: absolute;
    background: var(--background-color);
    border: 1px solid var(--border-color);

}

.bentomenu {
    opacity: 1;
}

.bentohover {
    opacity: 0;
}

.bentomenu {

    width: 34px;
    height: 34px;
    top: 8px;
    left: 8px;

    position: absolute;

}

.bentohover {

    width: 34px;
    height: 34px;
    top: 8px;
    left: 8px;

    position: absolute;

}

.vector {
    width: 8.5px;
    height: 8.5px;

    position: absolute;
    background: var(--icon-color);
}

/* Mode CSS */

.mode {
    width: 25px;
    height: 25px;
    left: 85vw;
    top: -1vw;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}


.framemode {
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;

    position: absolute;
    background: var(--background-color);
    border: 1px solid var(--border-color);

}



.mode:hover .framemode {
    background: var(--navigation-hover);
}

.darkmode {
    width: 15.36px;
    height: 15.36px;
    left: 5px;
    top: 5px;

    position: absolute;
    color: var(--icon-color);
}

.mode:hover .darkmode {
    color: var(--navigation-hover-active);
}


#en {
    opacity: 0;
    top: 2px;
    left: 5px;
}

#fr {
    opacity: 1;
    top: 2px;
    left: 7.5px;
}

#en {

    position: absolute;
    text-align: center;

    font-size: 14px;
    word-wrap: break-word;

    color: var(--icon-color);
}

#fr {

    position: absolute;
    text-align: center;

    font-size: 14px;
    word-wrap: break-word;

    color: var(--icon-color);

}

#fr:hover #fr {
    opacity: 0;
}

#fr:hover #en {
    opacity: 1;
}

/* Frame CSS */

.frame {
    width: 94vw;
    height: 90vh;

    position: relative;
    background-color: transparent;
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
}

.title {
    width: 284px;
    height: 90px;
    left: 37.1vw;
    top: -5.5vh;

    position: absolute;
}

.frametitle {
    width: 284px;
    height: 69px;
    left: 0;
    top: 13px;

    position: absolute;
    z-index: 1;
    background: var(--background-color);
    border: 1px solid var(--border-color);
}


.textmaj {
    width: 284px;
    height: 69px;
    left: 0;
    top: -13px;

    position: absolute;
    text-align: center;
    color: var(--title-text-color);
    font-size: 64px;
    word-wrap: break-word;
}

.textcurs {
    width: 158.95px;
    height: 38.14px;
    left: 59px;
    top: 9px;

    position: absolute;
    text-align: center;
    color: var(--title-text-hover);
    font-size: 32px;
    word-wrap: break-word;
}

/* Frame Project  */
.one-project {
    position: absolute;
    width: 94vw;
    height: 90vh;
}

.img-banner {
    width: 100%;
    height: 73%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.img-banner.active-banner {
    opacity: 1;
}

.description {
    position: absolute;
    z-index: 1;
    top: 75%;
    width: 100%;
    padding-right: 3vw;
    padding-left: 3vw;
}

.desc-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--icon-color);
}

.desc-title h2 {
    color: #AD00FF;
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;
}

.desc-title a:hover h2 {
    font-weight: 800;
}

.years {
    position: relative;
    /* right: 3rem; */
}

.years h2 {
    color: #AD00FF;
    font-size: 32px;
    word-wrap: break-word;
}

.years p {
    position: absolute;
    top: 10px;
    left: 30px;
    color: var(--text-color);
    font-size: 16px;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    height: 65%;
}

.categorie {
    width: 50%;
}

.categorie h2 {
    color: #AD00FF;
    font-size: 22px;
    word-wrap: break-word;
}

.categorie p {
    color: var(--text-color);
    font-size: 16px;
}

#technologie {
    display: flex;
    flex-direction: column;
}

#technologie span {
    color: var(--text-color);
    font-size: 16px;
    word-wrap: break-word;
}

.desc {
    width: 50%;
    text-align: right;
}

.desc p {
    color: var(--text-color);
    font-size: 14px;
    word-wrap: break-word;
    text-align: justify;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

@media screen and (max-width: 300px) {

    .frametitle {
        width: 150px;
        height: 45px;
        left: -45px;
        top: 7vw;
        background: transparent;
        border: none;
    }

    .textmaj {
        width: 150px;
        height: 53px;
        top: -2px;
        font-size: 32px;
    }

    .textcurs {
        width: 150px;
        height: 53px;
        left: 0px;
        font-size: 16px;
    }

    .menu {
        width: 50px;
        height: 50px;
        top: -4px;
        left: 0;
    }

    .framebento {
        border: none;
        background: none;
    }

    .bentomenu {
        width: 36px;
        height: 50px;
        left: 5px;
    }

    .mode {
        left: 83vw;
        top: 8px;
    }

    .framemode {
        border: none;
        background: none;
    }

    .desc-title h2 {
        font-size: 16px;
    }

    .years p {
        font-size: 8px;
        top: 5px;
        left: 15px;
    }

    .categorie {
        width: 40%;
    }

    .categorie h2 {
        font-size: 12px;
    }

    #technologie {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #technologie span {
        font-size: 8px;
    }

    .desc {
        overflow: scroll;
        height: 35px;
    }

    .desc p {
        font-size: 6px;


    }
}


@media screen and (max-width: 320px) {

    .frametitle {
        width: 150px;
        height: 45px;
        left: -45px;
        top: 10vw;
        background: transparent;
        border: none;
    }

    .textmaj {
        width: 150px;
        height: 53px;
        top: -2px;
        font-size: 32px;
    }

    .textcurs {
        width: 150px;
        height: 53px;
        left: 0px;
        font-size: 16px;
    }

    .menu {
        width: 50px;
        height: 50px;
        top: -4px;
        left: 0;
    }

    .framebento {
        border: none;
        background: none;
    }

    .bentomenu {
        width: 36px;
        height: 50px;
        left: 5px;
    }

    .mode {
        left: 83vw;
        top: 8px;
    }

    .framemode {
        border: none;
        background: none;
    }

    .desc-title h2 {
        font-size: 16px;
    }

    .years p {
        font-size: 8px;
        top: 5px;
        left: 15px;
    }

    .categorie {
        width: 40%;
    }

    .categorie h2 {
        font-size: 12px;
    }

    #technologie {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #technologie span {
        font-size: 8px;
    }

    .desc {
        overflow: scroll;
        height: 35px;
    }

    .desc p {
        font-size: 6px;


    }
}

@media screen and (min-width: 325px) and (max-width: 767px) {

    .title {
        width: 150px;
        height: 45px;
        left: 40vw;
        top: -4.5vh;
    }

    .frametitle {
        width: 150px;
        height: 45px;
        left: -45px;
        top: 8vw;
        background: transparent;
        border: none;
    }

    .textmaj {
        width: 150px;
        height: 53px;
        top: -2px;
        font-size: 32px;
    }

    .textcurs {
        width: 150px;
        height: 53px;
        left: 0px;
        font-size: 16px;
    }

    .menu {
        width: 50px;
        height: 50px;
        top: -4px;
        left: 0;
    }

    .framebento {
        border: none;
        background: none;
    }

    .bentomenu {
        width: 36px;
        height: 50px;
        left: 5px;
    }

    .mode {
        left: 83vw;
        top: 8px;
    }

    .framemode {
        border: none;
        background: none;
    }

    .desc-title h2 {
        font-size: 16px;
    }

    .years p {
        font-size: 8px;
        top: 5px;
        left: 15px;
    }

    .categorie {
        width: 40%;
    }

    .categorie h2 {
        font-size: 12px;
    }


    #technologie span {
        font-size: 8px;
    }

    .desc {
        overflow: scroll;
        height: 5.5rem;
    }

    .desc p {
        font-size: 8px;


    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        left: 28.5vw;
        top: -4.5vh;
    }

    .menu {
        top: 0;
        left: 0;
    }

    .framebento {
        border: none;
        background: none;
    }

    .framemode {
        border: none;
        background: none;
    }

    .mode {
        left: 90.5vw;
        top: 0;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
    .title {
        top: -3vh;
        left: 39.5vw;
    }

    .frametitle {
        top: 0;
    }


    .menu {
        top: -2.5vh;
        left: 92.5vw;
    }

    .mode {
        top: -0.6vw;
    }
}

@media screen and (min-width: 2560px) {

    .title {
        top: -2.5vh;
        left: 41.1vw;
    }

    .frametitle {
        top: 0;
    }



    .menu {
        top: -2vh;
        left: 93vw;
    }

    .mode {
        top: -0.6vw;
    }

}