.firstwindow {
    display: grid;
    place-items: center;
    gap: 18.85281rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bandtitle {
    position: relative;
    display: grid;
    place-items: center;
}

#titlemaj {
    text-align: center;
    font-size: 15.875rem;
    line-height: normal;
}

#titlehover {
    text-align: center;
    font-size: 8rem;
    line-height: normal;
    position: absolute;
    left: 25%;
    top: 25%;
    color: var(--title-text-hover);
}



#light {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    bottom: 95%;
    transition: color 0.6s;
}


@media screen and (max-width: 1024px) {
    #titlemaj {
        font-size: 10rem;
    }

    #titlehover {
        font-size: 5rem;

    }

    #light {
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    #titlemaj {
        font-size: 5rem;
    }

    #titlehover {
        font-size: 2.5rem;

    }

    #light {
        font-size: 20px;
    }
}